<div class="container-narrow">
  <h2>Roster</h2>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Rank</th>
      <th>Class</th>
      <th>Spec</th>
      <th>Role</th>
      <th>Sim Available</th>
    </thead>
    <tbody>
      <tr *ngFor="let player of roster$ | async">
        <td>
          <a routerLink="/player/{{ player.name }}">{{ player.name }}</a>
        </td>
        <td>{{ player.rank | memberRank }}</td>
        <td>{{ player.class | playerClass }}</td>
        <td>{{ player.spec.name }}</td>
        <td>{{ player.spec.role }}</td>
        <td *ngIf="player.simReportsUrls; else noSimReports">
          <span class="label label-success">
            Sim
          </span>
        </td>
        <ng-template #noSimReports>
          <td>
            <span class="label label-danger">
              No sim
            </span>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
