<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <div class="nav-link nav-text">
        <clr-icon shape="accessibility-1"></clr-icon>
        <a routerLink="/"><span class="title">Elicit Raid Tools</span></a>
      </div>
    </div>
    <div class="header-nav">
      <a
        routerLink="/roster"
        class="nav-link nav-text"
        routerLinkActive="active"
        >Roster</a
      >
      <a
        routerLink="/eternal-palace"
        class="nav-link nav-text"
        routerLinkActive="active"
        >Eternal Palace</a
      >
      <a routerLink="/admin" class="nav-link nav-text" routerLinkActive="active"
        >Admin</a
      >
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
